
body{
	margin: 20px;
	background-color: #527ec4;
}

h1{
	text-align: center;
	color: #3d648c;
}

b {
	color: red;
}
#wrapper{
	width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
}

.button{
	background-color: #aacbff;
	color: black;
	
	padding: 10px;
	margin: 5px;
	border: 1px black solid;
	cursor: hand;
	cursor: pointer;

	user-select: none;
	-o-user-select:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.button:hover{
	background-color: #4a8759;
	color: white;
}

#wrapper {
	
	width: 600px;
	margin: 0 auto;
	background-color: white;
}

#introScreen, #testScreen {
	
	position: absolute;
	width: 560px;
	height: 600px;
	background-color: white;
	padding: 20px;
}

#introScreen {
	
	z-index: 100;
}