    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    #radioButtons {
        background-color: white;
        color: black;
        width: 80px;
        margin: 0 auto;
    }
    
    #dropDown {
        padding: 10px;
        background-color: white;
    }
    
    input {
        font-size: 1.2em;
        border-radius: 10px;
        background-color: white;
    }
   