body {
    background-image:url("../img/Pebble_Beach.jpg");
    
}

header, #main {
    margin: 0 auto;
    text-align: center;
    padding-left: 500px
}

#main {
    background-image:url("../img/pb_scorecard.png");
    width: 760px;
    height: 190px;
    
    margin: 0 auto;
    
}

#mainTitle {
    text-align: center;
}

footer {
    
    font-size: 12px;
}