h1, body {
    
    text-align: center;
    background-color: green;
}

h1 {
    position: relative;
    top: 20px;
    background-color: white;
    color:#30ba45;
    width: 1000px;
    margin: 0 auto;
    
}

h3 {
    padding-top: 50px;
    margin: 0 auto;
    font-size: 20px;
    width: 700px;
}

hr {
    
    width:1000px;
}

#Results {
    
    font-size: 30px;
    color: white;
}

footer {
    font-size: 12px;
    padding-top: 50px;
}
#Questions {
    
    text-align: left;
    position: relative;
    color: white;
    margin: 0 auto;
    width: 800px;
}


#Error {
    
    color: red;
}